#dsct-comment-cards-section {
  padding: 0 20px;
  background-color: var(--dsct-color-bg-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dsct-comment-card-container {
  width: 100%;
  max-width: 960px;
}

.dsct-comment-card {
  border: 1px solid var(--dsct-color-border-primary);
  background-color: var(--dsct-color-bg-tertiary);
  border-radius: 12px;
  padding: 25px 20px;
  margin-bottom: 25px;
}

.dsct-comment-card p {
  font-size: 16px;
  color: var(--dsct-color-font-tertiary);
}
