#dsct-car-cards-section {
  padding: 0 20px;
  display: grid;
  row-gap: 25px;
}

.dsct-car-card {
  border: 1px solid var(--dsct-color-border-primary);
  border-radius: 10px;
  margin-bottom: 25px;
}

.dsct-car-card img {
  width: 260px;
  margin: 10px;
}

.dsct-car-card h3 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  color: var(--dsct-color-font-primary);
}
