#dsct-car-cards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.dsct-car-card-container {
  width: 100%;
  max-width: 746px;
}

.dsct-car-card img {
  width: 100%;
  max-width: 260px;
}

.dsct-car-card {
  padding: 10px 10px 0 10px;
  border: 1px solid var(--dsct-color-border-primary);
  border-radius: 10px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dsct-car-card h3 {
  margin: 10px 0;
  font-size: 16px;
  color: var(--dsct-color-font-primary);
}

@media(min-width: 1200px) {
  .dsct-car-card img {
    width: 100%;
    max-width: 391px;
  }

  .dsct-car-card h3 {
    font-size: 20px;
  }

  .dsct-car-card {
    padding: 20px 0 0 0;
  }
}
